/* root size */
#root{
  height: 100vh;
}

/* map size */
.leaflet-container{
  height: 92.33vh;
}

/* loader position */
#loader {
  position: absolute;
  top: 95vh;
}

/* blur on open popup intensivity  */
.blur {
  filter: blur(2px);
}