/* root size */
#root{
  height: 100vh;
}

/* map size */
.leaflet-container{
  height: 92.33vh;
}

/* loader position */
#loader {
  position: absolute;
  top: 95vh;
}

/* blur on open popup intensivity  */
.blur {
  filter: blur(2px);
}

/* Layers button */
.layers-btn-img {
  width: 30px;
  height: 30px;
}

.layers-btn {
  z-index: 1000;
  position: absolute;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  bottom: 20px;
  right: 10px;
}

/* popup */
.leaflet-popup-content {
  margin: 25px 0px 0px 0px !important;
}
.leaflet-popup-content-wrapper {
  border-radius: 6px !important;
}